body {
    background-image: url('kepek/hatterkep.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
 }

 .box {
    width: 95%;
    height: 300px;
    background-color: black;
    opacity: 0.5;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    /* position: relative; */
 }

 .dijbox {
    background-color: black;
    opacity: 0.5;
    border-radius: 10px;
    width: 500px;
    height: 350px;
    margin-top: 20px;
    margin-left: 50px;
 }

 

 .jobbkep {
    height: 250px;
    width: 300px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 50px;
 }

/* .overlay {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s ease;
    background-color: white;
    opacity: 0;
}

.box:hover .overlay {
    opacity: 1;
}

.hovertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */

.text {
    color: white;
    padding-top: 30px;
    padding-left: 60px;
    width: 75%;
    font-size: 25px;
}

h1 {
    color: white;
    height: 0px;
    padding-top: 30px;
    padding-left: 60px;
    font-size: 50px;
}

.dijak {
    /* color: white; */
    padding-top: 20px;
    padding-left: 60px;
    width: 75%;
    font-size: 25px;
    margin
}

.dij {
    color: white;
}


